.col.in, .col.out {
	border:1px solid blue;
}

/*
 *    ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ 
 *    █ INTERFACE STYLES █ 
 *    ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ 
 */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.small.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.small .slider:before {
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
}

input:checked + .slider.course_program {
  background-color: orange;
}


input:checked + .slider.merge  {
  background-color: teal;
}

input:focus + .slider.merge {
  box-shadow: 0 0 1px teal;  
}

input:focus + .slider.course_program{
  box-shadow: 0 0 1px orange;
}

input:checked + .slider.ags_trad {
  background-color: #007bff;
}

input:focus + .slider.ags_trad {
  box-shadow: 0 0 1px #007bff;
}

.slider.debug, .slider.title_output{
  background-color: grey;
}

input:checked + .slider.debug, input:checked + .slider.title_output  {
  background-color: black;
}

input:focus + .slider.debug, input:focus + .slider.title_output {
  box-shadow: 0 0 1px black;
}

.slider.merge {
  background-color: orange;
}

.slider.course_program {
  background-color: magenta;
}

.slider.course_program:before, .slider.merge:before {
  background-color: white;
}

.slider.ags_trad {
  background-color: #28a745;
}

.slider.ags_trad:before {
  background-color: white;
}

#paste{
   height:20vw;
}

#ags_trad{
   pointer-events: none;
}

#ags_trad.trad.btn-success{
  background-color: #007bff !important;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#interpret_courses {
	background-color: magenta;
	border:none;
}
#interpret_programs {
	background-color: orange;
	border:none;
}

#interpret_programs.and_merge{
  background-color: teal;
  border:none;
}

.disabled {
   pointer-events: none;
   opacity:0.2 !important;
}


/*
 *    ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ 
 *    █ OUTPUT STYLES █ 
 *    ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ 
 */

 .output_option{
  max-width:24%;
  float:left;
  display:block;
  padding:5px;
  margin:2px;
  background-color:#dfdfdf;
  text-align:center;
 }

div#output_options {
    width: 100%;
    display: block;
    float: left;
}

div#output_options .off{
  text-decoration:line-through;
  opacity:0.5;
}

ul.courses{
  list-style: none;
  padding: 0px;
}

div.bullet{
  width: .6em;
  height: .6em;
  background-color: black;
  margin-left: -1.25em;
  margin-top: .5em;
  position: absolute;
  transition-duration: 1s;
}

div.h{
  width: .8em;
  height: .2em;
  background-color: blue;
  margin-left: -1.5em;
  margin-top: .75em;
  position: absolute;
  transition-duration: 1s;
}

div.v{
  width: .2em;
  height: .9em;
  background-color: blue;
  margin-left: -1.15em;
  margin-top: .4em;
  position: absolute;
  transition-duration: 1s;
}

div.h.open{
  width: 1em;
  height: .2em;
  background-color: black;
  margin-left: -1.5em;
  margin-top: .75em;
  position: absolute;
}

div.v.open{
  width: 1em;
  height: .2em;
  background-color: green;
  margin-left: -1.5em;
  margin-top: .75em;
  position: absolute;
}

div.course {
	padding: .5em 0em;
}

.course_title{
	font-weight:400;
	font-size:1.3em;
	background-color:#ddd;
	padding:0.1em 0.3em;
}

.error .course_title{
  background-color:orange;
}

.course_title > a{
    width: 100%;
    display: inline-block;
}

.error .course_title a{
  color:white;
}

.course_title > a > span{
	float:right;
}

.course_preDesc, .course_postDesc {
	padding: 0em .5em;
}

.course_postDesc {
	font-style: italic;
}

#catalog_interpreter_output h2{
  font-size:2em;
  font-weight:400;
  border-bottom:2px solid #ddd;
  margin-top:2em;
}

#catalog_interpreter_output h3{
  font-size:1.5em;
  font-weight:400;
  background-color:#ddd;
  padding:0.1em 0.3em;
}

#catalog_interpreter_output h4{
  font-size:1.2em;
  font-weight:600;
  padding:0.5em .5em 0em 0em;
  border-bottom: 2px solid #ddd;
  display:flex;
}


#catalog_interpreter_output h5{
  font-size:1.1em;
  font-weight:600;
  padding:0.2em .2em 0em 0em;
  display:flex;
}

#catalog_interpreter_output h4.subheadingtotal{
  background-color:#ddd;
  font-weight:700;
}

#catalog_interpreter_output li.collapseable, #catalog_interpreter_output li.non_collapseable{
  padding: 0px 0px 0px 2.5em;
}

#catalog_interpreter_output li.course, #catalog_interpreter_output li.course a, div.contains_spans{
  display:flex;
}

#catalog_interpreter_output li.course.collapseable, #catalog_interpreter_output li.non_collapseable{
  display:block;
}

#catalog_interpreter_output li.course a{
  flex-wrap: wrap;
  flex-grow: 1;
}

h3 span.right_just, h4 span.right_just{
    text-align: right;
    min-width: 130px;
}

li span.right_just, .subSUBheadingtotal span.right_just {
  min-width: 20%;  
}

h4 span.left_just, h3 span.left_just,
li span.left_just,
.subSUBheadingtotal span.left_just {
    flex-grow:1;
    max-width: 77%;
    margin-right: 3%;
}

