.col.in, .col.out {
	border:1px solid blue;
}

/*
 *    ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ 
 *    █ SWITCH STYLES █ 
 *    ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ 
 */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider.course_program {
  background-color: orange;
}

input:focus + .slider.course_program {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider.ags_trad {
  background-color: #007bff;
}

input:focus + .slider.ags_trad {
  box-shadow: 0 0 1px #007bff;
}

.slider.debug{
  background-color: grey;
}

input:checked + .slider.debug {
  background-color: black;
}

input:focus + .slider.debug {
  box-shadow: 0 0 1px black;
}


.slider.course_program {
  background-color: magenta;
}

.slider.course_program:before {
  background-color: white;
}

.slider.ags_trad {
  background-color: #28a745;
}

.slider.ags_trad:before {
  background-color: white;
}

#ags_trad{
   pointer-events: none;
}

#ags_trad.trad.btn-success{
  background-color: #007bff !important;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#interpret_courses {
	background-color: magenta;
	border:none;
}
#interpret_programs {
	background-color: orange;
	border:none;
}

.disabled {
   pointer-events: none;
   opacity:0.2 !important;
}


/*
 *    ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄ 
 *    █ OUTPUT STYLES █ 
 *    ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀ 
 */

.course {
	padding: .5em 0em;
}
.course_title{
	font-weight:400;
	font-size:1.3em;
	background-color:#ddd;
	padding:0.1em 0.3em;
}

.error .course_title{
  background-color:orange;
}

.course_title > a{
    width: 100%;
    display: inline-block;
}

.error .course_title a{
  color:white;
}

.course_title > a > span{
	float:right;
}

.course_preDesc, .course_postDesc {
	padding: 0em .5em;
}

.course_postDesc {
	font-style: italic;
}

#output h2{
  font-size:2em;
  font-weight:400;
  border-bottom:2px solid #ddd;
  margin-top:2em;
}

#output h3{
  font-size:1.5em;
  font-weight:400;
  background-color:#ddd;
  padding:0.1em 0.3em;
}

#output h4{
  font-size:1.1em;
  font-weight:400;
  padding:0.5em .5em 0em 0em;
  border-bottom: 2px solid #ddd;;
}

span.right_just {
    display: inline-block;
    float: right;
}